* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Lora:wght@400;500;600;700&display=swap");

body {
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}

h2 {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  /* identical to box height, or 32px */

  letter-spacing: -0.06em;

  /* Neutrals/Black */

  color: #161616;

  margin-bottom: 38px;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 850px) {
h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

}